*arbitrage-bot/.ipynb_checkpoints*
*arbitrage-bot/browser*

*bets/futebol-virtual/.ipynb_checkpoints/*
*bets/futebol-virtual/bin/*

*data-colect/Browser/*
*data-colect/.ipynb_checkpoints*

*data-colect/audience-insights/.ipynb_checkpoints*
*data-colect/audience-insights/Browser/*

*quantum-random-sms/db/*

*.ipynb_checkpoints*